name: test

on:
  push:
    branches:
      - main
      - master
  pull_request:
    paths-ignore:
      - 'doc/**'
      - '*.md'

jobs:

  test:
    name: ${{ matrix.platform.id }}
    runs-on: ${{ matrix.platform.os }}
    strategy:
      fail-fast: false
      matrix:
        platform:
          - os: macos-15-intel      # x64
            id: x86_64-macos

          - os: macos-latest        # arm64
            id: aarch64-macos

          - os: ubuntu-22.04        # x64, oldest supported so releases can run on older distros
            id: x86_64-linux

# Unavailable until setup-alire/alr-install are updated to support alr 2.1
          - os: ubuntu-24.04-arm    # new ARM runners
            id: aarch64-linux

          - os: windows-latest      # x64
            id: x86_64-windows

    steps:
    - name: Check out repository
      uses: actions/checkout@v1

    - name: Check out submodules
      run: git submodule update --init --recursive

    - name: Set up GNAT toolchain (FSF)
      uses: alire-project/alr-install@v2
      with:
        crates: gnat_native gprbuild

    - name: Build on demand
      run: gprbuild -j0 -p -XSEMVER_BUILD_MODE=On_Demand

    - name: Build static lib
      run: gprbuild -j0 -p -XSEMVER_BUILD_MODE=Static_Lib

    - name: Build shared lib
      run: gprbuild -j0 -p -XSEMVER_BUILD_MODE=Shared_Lib

    - name: Set up nightly Alire to run testsuite
      uses: alire-project/setup-alire@v4
      with:
        version: nightly

    - name: Run tests
      run: alr test
